@import url(/css/header.css);
@import url(/css/typewriter.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
}

html {
  font-size: 62.5%; /* 62.5% de 16px = 10px */
}

.container {
  max-width: 1100px;
}
