.typewriter {
  overflow: hidden;
  background-color: #00e281;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem; /* Adicionado padding para melhor espaçamento */
  width: 100%;  
  text-align: center; /* Centraliza o texto */
}

/* Estilos do texto de digitação */
#typing {
  font-size: 1.4rem;  
  letter-spacing: 0.04rem;
  display: inline-block;
  overflow: hidden;
  white-space: normal; /* Permite quebra de linha */  
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  width: 100%; /* Faz com que o texto ocupe toda a largura disponível */
  max-width: 100%;
  padding: 0.2rem; /* Adicionado padding para melhor espaçamento */
}

/* Animação de digitação */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* Responsividade */
@media (max-width: 720px) {
  .typewriter {
    padding: 0.5rem; /* Ajusta o padding para telas menores */
  }
  #typing {
    font-size: 1.2rem; /* Reduz o tamanho da fonte para telas menores */
    animation: typing-small 4s steps(40, end), blink-caret 0.75s step-end infinite;
  }
}

@media (max-width: 320px) {
  .typewriter {
    padding: 0.25rem; /* Ajusta o padding para telas muito pequenas */
  }
  #typing {
    font-size: 1rem; /* Reduz o tamanho da fonte ainda mais para telas muito pequenas */
  }
}

/* Animação de digitação para telas pequenas */
@keyframes typing-small {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
