* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%; /* 62.5% de 16px = 10px */
}

/* Início Texto tipo máquina de escrever */

.typewriter {
  overflow: hidden;
  background-color: #00e281;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; /* Adicionado padding para melhor espaçamento */
  width: 100%;
  text-align: center; /* Centraliza o texto */
}

/* Estilos do texto de digitação */
#typing {
  font-size: 2rem;
  letter-spacing: 0.04rem;
  display: inline-block;
  overflow: hidden;
  white-space: normal; /* Permite quebra de linha */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  width: 100%; /* Faz com que o texto ocupe toda a largura disponível */
  max-width: 100%;
}

/* Animação de digitação */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* Responsividade */
@media (max-width: 720px) {
  .typewriter {
    padding: 0.5rem; /* Ajusta o padding para telas menores */
  }
  #typing {
    font-size: 1.6rem; /* Reduz o tamanho da fonte para telas menores */
    animation: typing-small 4s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }
}

@media (max-width: 320px) {
  .typewriter {
    padding: 0.25rem; /* Ajusta o padding para telas muito pequenas */
  }
  #typing {
    font-size: 1.4rem; /* Reduz o tamanho da fonte ainda mais para telas muito pequenas */
  }
}

/* Animação de digitação para telas pequenas */
@keyframes typing-small {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Fim Texto tipo máquina de escrever */

/* Início Header */

.secao_header {
  background-color: black;
}

.container_header {
  padding: 10rem;
  margin: 0rem auto 0rem auto;
  display: flex;
  justify-content: center;
  
}

.container_header_titulo {
  justify-content: center;
  padding-top: 3rem;
}

.titulo_header {
  color: white;
  font-size: 4.5rem;
  text-align: center;
}

.subtitulo_header {
  color: #00e281;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  padding-top: 3rem;
}

.paragrafo_header {
  padding-top: 3rem;
  color: white;
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: center;
}

.img_header {
  max-width: 100rem;
  margin: 0;
}

@media (max-width: 320px) {

  .container_header {
    padding:2rem ;
    flex-direction: column-reverse;
  }
  .container_header_titulo{
    padding-top: 1rem;
    width: 30rem;
  }
  .titulo_header{
    padding-top: 1rem;
    font-size: 3rem;
    width: 30rem;
  }

  .img_header {
    width: 30rem;
  }
}



/* Fim Header */
